.form {
  background-color: whitesmoke;
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 20px;
}

.form[disabled] {
  background-color: rgb(97, 97, 97);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-field input {
  padding: 10px;
}

.btn {
  color: white;
  background-color: #4C0B56;
  padding: 10px 20px;
  border: 0;
  font-size: 1em;
}

.btn[disabled] {
  background-color: darkgray;
  color: black;
}